@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

:root {
  --bg-red: #dc3545;
  --bg-orange: #fd7e14;
  --bg-green: #198754;
  --bg-teal: #20c997;
  --bg-black: #000;
  --bg-white: #fff;
  --bg-gray: #6c757d;
  --bg-gray-dark: #343a40;
  --bg-gray-100: #f8f9fa;
  --bg-gray-200: #e9ecef;
  --bg-gray-300: #dee2e6;
  --bg-gray-400: #ced4da;
  --bg-gray-500: #adb5bd;
  --bg-gray-600: #6c757d;
  --bg-gray-700: #495057;
  --bg-gray-800: #343a40;
  --bg-gray-900: #212529;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--bg-gray-900);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem 0;
}

.title:after {
  content: '';
  display: block;
  width: 50%;
  max-width: 70%;
  border-bottom: 2px solid var(--bg-green);
  margin: 0.5rem auto 0;
}

.btn-outline {
  background: none;
  color: #fff;
  border: 1px solid var(--bg-green);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: var(--bg-green);
  transition: 0.3s;
  scale: 0.95;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 2rem;
}

/* Form */

.form-group {
  width: 50%;
  text-align: center;
  margin: 3rem auto;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 100%;
  min-width: 210px;
  padding: 10px 35px;
  background-color: #1f1f1f;
  color: #fff;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 10px;
}

.form-group input:hover {
  border: 2px solid gray;
  transition: 0.3s;
}

.form-text {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 10px;
  color: white;
  display: block;
}

.form-textNumber {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 1rem;
  color: white;
  display: block;
}
.radio-label {
  color: #fff;
  font-size: 1.6rem;
  margin-left: 0.8rem;
}

.radio-label:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 645px) {
  .form-container {
    flex-direction: column;
  }
}

/* Burger menu */

.bm-burger-button {
  width: 36px;
  height: 30px;
  left: 36px;

  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #373a47;
  padding: 0.3rem 0.3rem 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* styling next link component so that will be a column list of links*/
.bm-item-list a {
  display: flex;
  flex-direction: column;
}
